<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ACA SMS</title>
</head>
<body>
  <form action="/" method="POST">
    <div style="display: flex">
      <div>
        <label for="message">Message</label>
        <br/>
        <textarea name="message" id="message" placeholder="Enter your message..." rows="10"><%= message %></textarea>
      </div>
      <div style="margin-left: 20px">
        <label for="numbers">Numbers (one per line)</label>
        <br/>
        <textarea name="numbers" id="numbers" placeholder="(512) 993-8193&#10;512-827-8498" rows="10"><%- numbers %></textarea>
      </div>
    </div>
    <br/>
    <br/>
    <input type="submit"/>
  </form>
</body>
</html>